attrs==26.1.0
blinker==1.9.0
certifi==2026.7.22
charset-normalizer==3.5.0
click==8.4.2
clickclick==20.10.2
connexion==2.14.1
Flask==2.2.2
flask-marshmallow==1.5.0
Flask-SQLAlchemy==3.1.1
greenlet==3.5.5
idna==3.18
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
marshmallow==4.3.1
marshmallow-sqlalchemy==1.5.0
packaging==26.3
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
six==1.17.0
SQLAlchemy==2.0.52
swagger-ui-bundle==0.0.9
typing_extensions==4.16.0
urllib3==2.7.0
Werkzeug==2.3.8
